SCFW.SC
_dsone/didl.dldi
_dsone/ds1patch.dat
_dsone/language/lang_cn/local.fon
_dsone/language/lang_cn/unicode.ank
_dsone/language/lang_cn/unicode.l2u
_dsone/language/lang_cn/unicode.u2l
_dsone/language/lang_jp/local.ank
_dsone/language/lang_jp/local.fon
_dsone/language/lang_jp/unicode.ank
_dsone/language/lang_jp/unicode.l2u
_dsone/language/lang_jp/unicode.u2l
_dsone/language/lang_kor/local.fon
_dsone/language/lang_kor/unicode.ank
_dsone/language/lang_kor/unicode.l2u
_dsone/language/lang_kor/unicode.u2l
_dsone/language/lang_zh/local.fon
_dsone/language/lang_zh/unicode.ank
_dsone/language/lang_zh/unicode.l2u
_dsone/language/lang_zh/unicode.u2l
_dsone/ndsinfo.dat
_dsone/savemode.dat
_dsone/skin/black/Thumbs.db
_dsone/skin/black/icon/Thumbs.db
_dsone/skin/black/realtime/Thumbs.db
_dsone/skin/default/Thumbs.db
_dsone/skin/default/icon/Thumbs.db
_dsone/skin/default/realtime/Thumbs.db
_dsone/skin/pink/Thumbs.db
_dsone/skin/pink/icon/Thumbs.db
_dsone/skin/pink/realtime/Thumbs.db
_dsone/system1.dat
_dsone/system2.dat
_dsone/systemp.bin
_dsone/user/asc10.fon.bin
hexdump
hexdump2bin